In [1]:
x='452_i_am_a_string'
print(x[::-1])

gnirts_a_ma_i_254

In [2]:
u=0
l=0
x=input("Enter a string: ")
for i in x:
    if i.isupper():
        u=u+1
    elif i.islower():
        l=l+1
    else:
        pass
print("number of upper letters:",u)
print("number of lower letters:",l)

Enter a string: Its a strinG
number of upper letters: 2
number of lower letters: 8

In [3]:
x=[1,2,3,4,5,6,7,8,9,9,6,3,2,5,8,7,4,1]
y = []
for i in x:
    if i not in y:
        y.append(i)
print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
x=input("Enter the string: ") 
a=x.split('-') 
a.sort() 
print('-'.join(a))

Enter the string: Def-a-str-not-a-int
Def-a-a-int-not-str

In [5]:
x=input("Enter the string: ")
print(x.upper())

Enter the string: its all lower
ITS ALL LOWER

In [6]:
def add(x,y):
    z=int(x)+int(y)
    print(z)
num1=5
num2=4
add(num1,num2)

9

In [7]:
a=input("Enter string 1: ")
b=input("Enter string b: ")
if len(a)>len(b):
    print(a)
elif len(a)<len(b):
    print(b)
else:
    print(a)
    print(b)

Enter string 1: i am sooo done
Enter string b: with mosquitos
i am sooo done
with mosquitos

In [8]:
def tple():
    l = []
    for i in range(1,21):
        l.append(i**2)
    t=tuple(l)
    print(type(t))
    print(t)

tple()

<class 'tuple'>
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [9]:
def showNumbers(limit):
    i=0
    while i<limit+1:
        if i%2==0:
            print(i,"EVEN")
        else:
            print(i,"ODD")
        i=i+1
showNumbers(4)

0 EVEN
1 ODD
2 EVEN
3 ODD
4 EVEN

In [10]:
x = list(range(1,21,1))
result = filter(lambda x: x % 2 == 0, x)
print(list(result))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
l = [1,2,3,4,5,6,7,8,9,10]
 
even_sqr= map(lambda x: x**2, filter(lambda   x: x%2==0, l))
 
print(list(even_sqr))

[4, 16, 36, 64, 100]

In [12]:
def divide():
    return 5/0

try:
    divide()
except ZeroDivisionError:
    print("Not possible")

Not possible

In [13]:
from functools import reduce
reduce(lambda a,d: 10*a+d, [1,2,3,4,5,6,7])

1234567

In [14]:
x = list(range(1,111,1))
result = filter(lambda x: x%7==0 and x%3!=0, x)
print(list(result))

[7, 14, 28, 35, 49, 56, 70, 77, 91, 98]

In [15]:
a_list = [1,2,3,4]
print(a_list)
def mlt(b):
    y_num=1
    for x_num in b:
        y_num=y_num*x_num
        return(y_num)
stp=map(mlt,a_list)

[1, 2, 3, 4]

In [16]:
list_x=[1,2,3,4,5,6]
def multiply(x):
    return x*x
       
x_y=(map(multiply,list_x))
print(list(x_y))

[1, 4, 9, 16, 25, 36]